    html,
    body {
      height: 100%;
      width: 100%;
      background-image: url("https://s13.gifyu.com/images/Sjdy3.gif");
      background-size: 180px;
      margin: 0;
      padding: 0;
      font-family: "Times New Roman", Times, serif;
      overflow: scroll;
    }

    .marqueetop {
      font-family: 'Courier New', monospace;
    }

    .hide {
      display: none;
    }


    div.gallery {
      margin: 5px;
      float: left;
      width: 180px;
    }

    div.gallery img:hover {
      border: 3px solid #00ff00;
    }

    div.gallery img {
      width: 100%;
      height: auto;
      border: 2px solid #d13680;
    }

    div.desc {
      padding: 15px;
      text-align: center;
    }

    .postbox {
      overflow-y: auto;
      overflow-x: hidden;
      background: #f4f4f4;
      box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
      text-align: left;
      display: flexbox;
      margin: 0;
      padding: 12px 8px;
      width: 40%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .musichovertext:hover+.hide {
      display: block;
      color: #b61010;
    }

    p {
      background-color: #f9e2ae;
      display: inline-block;
      box-sizing: border-box;
      font-size: 0.9em;
      border-color: #f7dc9f;
      border-style: outset;
      margin: auto;
      padding: 0.4em;
      box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    }

    #clippy {
      position: fixed;
      top: 0;
      bottom: 0;
    }

    .container {
      display: flex;
      justify-content: space-between;
      padding: 20px;
    }

    .navpanel {
      background-color: lightgrey;
      display: inline-block;
      box-sizing: border-box;
      font-size: 0.9em;
      border-color: #cacaca;
      border-style: outset;
      margin: auto;
      padding: 0.9em;
    }

    .mleft,
    .mright {
      height: 504px;
      width: 120px;
      text-align: center;
      border: none;
    }

    .mleft {
      float: left;
    }

    .mright {
      float: right;
    }

    .navpanel {
      font-size: 12px;
      padding: 0;
      text-align: center;
    }

    .mcenter {
      flex-grow: 1;
      text-align: center;
      border: none;
    }

    .footer {
      text-align: center;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0;
      padding: 5px;
      bottom: 0;
    }

